/* Full-page background */
body {
  margin: 0;
  flex:1;
  font-family: Arial, sans-serif;
  background: url("public/forestbg.png") no-repeat center center fixed;
  background-size: cover; /* cover whole screen */
  position: relative;
  background-color: #0B7A75; /* Fallback color */
  
}

/* Overlay for opacity */
body::before {
   position: absolute;
  top: 0;
  left: 0;
   content: "";
  background: url("public/forestbg.png") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.25; /* 25% */
  z-index: -1;
  
}