
/* Main content area */
.main_image {
 width: 101%;
  height: auto;
  margin-top: 5%; 
 margin-left: -2%;
  display: block;
  
}



.introduction {
  color: black;
  font-size: 21px;
  margin-top: -45%;  
  width: 25%;
  padding: 20px;
  border-radius: 8px;
  font-weight: bold;
}
/*this is for the welcome button*/
.welcome {
 margin-left: 5%;
 padding: 10px 25px;
  font-size: 20px;
  background-color: #3f2d03;
  color: white;
  border: none;
   border-top-left-radius: 10px;
  border-bottom-right-radius:10px ;
   border: 3px solid #d39b38;
  box-shadow: #000000 0px 12px 18px -10px;
}
/* About Section */
.label-container {
  position: relative;
  width: 280px;
  margin: 60px auto;
  text-align: center;
}

.label-img {
  width: 100%;
  height: auto;
  margin-top: 90%;
  z-index: 1;
  display: block;
  margin-left: -170%;
  
}

.label-text {
  position: absolute;
  top: 190px;
  left: -125%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  letter-spacing: 2px;
  z-index: 2;
}

.bird {
  position: absolute;
  top: 160px;    
  left: -100%;  
  width: 45px; 
  height: auto;
  z-index: 3;  
}

.about{
  margin-top: -60%;

  
}
.about-text {
  color: rgb(241, 241, 241);
  font-size: 25px;
  margin-top: -160%;
  margin-left: -200%;
  width: 150%;
  font-weight: bold;
  padding: 20px;
  border-radius: 8px;
}
/*categories section*/
.label-container2 {
  position: relative;
  width: 280px;
  margin: 60px auto;
  text-align: center;
}

.label2 {
  width: 100%;
  height: auto;
  margin-top: -10%;
  z-index: 1;
  display: block;
  margin-left: -170%;
}
.label-text2 {
  position: absolute;
  top: 190px;
  left: -125%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  letter-spacing: 2px;
  z-index: 2;
}
.rabbit {
  position: absolute;
  top: 9%;     
  left: -115%;  
  width: 90%;  
  height: auto;
  z-index: 3;   
}
.categories-grid {
  display: grid;
  grid-template-columns: repeat(2, 200px); 
  grid-template-rows: repeat(2, 210px);
  gap: 0;
  justify-items: center;
  margin-top: -10%;
  margin-left: 30%;
}

.item {
  position: relative;
  cursor: pointer;
  width: 180px;
  height: 180px;
}

.prints {
  width: 200%;
  height: 200%;
  object-fit: contain;
  transition: transform 0.4s ease, filter 0.4s ease;
 
}
  
.item:hover .prints {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.name1 {
  position: absolute;
  top: 115%;
  left: 95%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  text-shadow: 0 0 10px black;
  pointer-events: none; /* so clicks go through to the image */
}
.name2 {
  position: absolute;
  top: 122%;
  left: 100%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  text-shadow: 0 0 10px black;
  pointer-events: none;
}
.name3 {
  position: absolute;
  top: 110%;
  left: 99%;
  transform: translate(-50%, -50%);
  font-size: 19px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  text-shadow: 0 0 10px black;
  pointer-events: none;
}
.name4 {
  position: absolute;
  top: 110%;
  left: 95%;
  transform: translate(-50%, -50%);
  font-size: 19px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  text-shadow: 0 0 10px black;
  pointer-events: none; 
}


/* footer */

.design {
  position: relative;
  width: 100%;        
  margin-left: 0;    
  display: flex;
  justify-content: center; 
  
}
.animals {
  gap: 5px;
  width: 800%;
}
 /* media quires*/
 /* small mobile*/
 @media (min-width: 320px) and (max-width: 480px){
 .main_image {
 width: 90%;
 margin-top:11%; 
  margin-left: 5%;
}
.introduction {
 font-size: 6px;
 width: 25%;
 margin-top: -50%;
 margin-left: 3%;
 }
 .welcome {
  margin-top: -100px;
 margin-left: 8%;
 padding: 3px;
font-size: 5px;
}
.about{
  width: 55%;
  height: 55%;
  margin-top: -10%;
  margin-right: -25%; 
}
.label-text {
  font-size: 10px;
  top: 20px;
  left: -90%;
 }
 .label-img {
  width: 50%;
  margin-top: -10%;
  margin-left: -10%;
 }
}