
/* Main content area */
.main_image {
 width: 100%;
  height: auto;
  margin-top: 5%; 
 margin-left: -1.5%;
  display: block;
  
}



.introduction {
  color: black;
  font-size: 21px;
  margin-left: 1%;
  margin-top: -45%;  
  width: 25%;
  padding: 20px;
  border-radius: 8px;
  font-weight: bold;
}
/*this is for the welcome button*/
.welcome {
 margin-left: 5%;
 padding: 10px 25px;
  font-size: 20px;
  background-color: #3f2d03;
  color: white;
  border: none;
   border-top-left-radius: 10px;
  border-bottom-right-radius:10px ;
   border: 3px solid #d39b38;
  box-shadow: #000000 0px 12px 18px -10px;
}
/* About Section */
.label-container {
  position: relative;
  width: 280px;
  margin: 60px auto;
  text-align: center;
}

.label-img {
  width: 100%;
  height: auto;
  margin-top: 90%;
  z-index: 1;
  display: block;
  margin-left: -170%;
  
}

.label-text {
  position: absolute;
  top: 190px;
  left: -125%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  letter-spacing: 2px;
  z-index: 2;
}

.bird {
  position: absolute;
  top: 160px;    
  left: -100%;  
  width: 45px; 
  height: auto;
  z-index: 3;  
}

.about{
  margin-top: -60%;

  
}
.about-text {
  color: rgb(241, 241, 241);
  font-size: 25px;
  margin-top: -160%;
  margin-left: -200%;
  width: 150%;
  font-weight: bold;
  padding: 20px;
  border-radius: 8px;
}
/*categories section*/
.label-container2 {
  position: relative;
  width: 280px;
  margin: 60px auto;
  text-align: center;
}

.label2 {
  width: 100%;
  height: auto;
  margin-top: -10%;
  z-index: 1;
  display: block;
  margin-left: -170%;
}
.label-text2 {
  position: absolute;
  top: 190px;
  left: -125%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  letter-spacing: 2px;
  z-index: 2;
}
.rabbit {
  position: absolute;
  top: 9%;     
  left: -115%;  
  width: 90%;  
  height: auto;
  z-index: 3;   
}
.categories-grid {
  display: grid;
  grid-template-columns: repeat(2, 200px); 
  grid-template-rows: repeat(2, 210px);
  gap: 0;
  justify-items: center;
  margin-top: -10%;
  margin-left: 30%;
}

.item {
  position: relative;
  cursor: pointer;
  width: 180px;
  height: 180px;
}

.prints {
  width: 200%;
  height: 200%;
  object-fit: contain;
  transition: transform 0.4s ease, filter 0.4s ease;
 
}
  
.item:hover .prints {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.name1 {
  position: absolute;
  top: 115%;
  left: 95%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  text-shadow: 0 0 10px black;
  pointer-events: none; /* so clicks go through to the image */
}
.name2 {
  position: absolute;
  top: 122%;
  left: 100%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  text-shadow: 0 0 10px black;
  pointer-events: none;
}
.name3 {
  position: absolute;
  top: 110%;
  left: 99%;
  transform: translate(-50%, -50%);
  font-size: 19px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  text-shadow: 0 0 10px black;
  pointer-events: none;
}
.name4 {
  position: absolute;
  top: 110%;
  left: 95%;
  transform: translate(-50%, -50%);
  font-size: 19px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  text-shadow: 0 0 10px black;
  pointer-events: none; 
}
/* media quires*/
 /* small mobile*/

@media (min-width: 320px) and (max-width: 480px) {
#intro{
 position: relative;

}
.main_image{
  width:100%;
  margin-top: 15%;
  margin-left: -20px;
  
  display: block;
}
.intro-box{
  position: absolute;
  top:1%;
  left:-10%;
  width:60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index:10;

}
.introduction{
font-size: 5px;
font-weight: 900;
width:50%;
margin-top: 2px;
}
.welcome{
  font-size: 5px;
  padding: 5px ;
  margin-top: -10px;
  margin-left: 17px;

}
.label-container{
  position:relative;
  display:block;
  width:100%;
  margin: 40px auto 20px auto;
  min-height:200px;
  left:0;
}

.about{
  float:right;
  width:130px;
  margin:-50px 30px 0 0;
  position: relative;
  display: block;

}
.about-text{
  width: 150px;
  font-size: 10px;
  line-height: 1.3;
  margin: -80px 0 0 -30px;
  color: white;
  display: block;
  position: relative;
}
.label-img{
  width:140px;
  margin-left: 20px;
  margin-top: -70px;
  display: block;
  position: relative;
}
.label-text{
  position: absolute;
  top:85px;
  left:40px;
  transform: none;
  font-size: 13px;
  font-weight: 900;
  color: white;
  width: auto;
  z-index: 5;
}

.bird{
 position: absolute;
 width: 20px;
 top:83px;
 left:110px;
 z-index: 6;
}
.label-container2{
  clear:both;
  position:relative;
  width:100%;
 
}
.label2{
  width:150px;
  margin-left: 20px;
  margin-top: -90px;
 display: block;
  position: relative;
}
.label-text2{
  position:absolute;
  top:100px;
  left:84px;
  font-size: 11px;
  font-weight: 900;
  color:white;
  z-index: 5;
}
.rabbit{
  position: absolute;
  width: 100px;
  top:40px;
  left:110px;
  z-index:6;
}
.categories-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:0;
  width:100%;
  margin-top:-150px;
  margin-left: -10px;
 
}
.item{
  width:100%;
  height:auto;
  position: relative;
  display: flex;
  justify-content: center;
}
.prints{
  width:120px;
  height:auto;
  
}
.name1{
  font-size: 10px;
  position: absolute;
  top:57%;
  left:48%;
  transform: translate(-50%,-50%);
  width:100%;
  text-align: center;
  color:white;
}
.name2{
  font-size: 10px;
  position: absolute;
  top:58%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100%;
  text-align: center;
  color:white;
}

.name3{
  font-size: 10px;
  position: absolute;
  top:52%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100%;
  text-align: center;
  color:white;
}
.name4{
  font-size: 10px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100%;
  text-align: center;
  color:white;
}
}
/* mobile M */
 @media (min-width:375px) and (max-width:425px){
  .main_image{
 margin-top: 12%;
  }
.intro-box{
  top:15%;
  font-size: 10px;
}
.about{
 width:150px;
 top:5px;
}
.about-text{
  width: 200px;
  font-size: 12px;
  line-height: 1.3;
  margin: -80px 0 0 -30px;
  color: white;
  display: block;
  position: relative;
}
.label-img{
  margin-left: 1px; 
}
.label-text{
 left:30px;
 
}
.bird{
left:100px;
}
.label2{
  width:160px;
  margin-left: 10px;
 display: block;
  position: relative;
}
.label-text2{
  position:absolute;
  top:106px;
  left:84px;
  font-size: 11px;
  font-weight: 900;
  color:white;
  z-index: 5;
}
.rabbit{
  position: absolute;
  width: 100px;
  top:45px;
  left:110px;
  z-index:6;
}
.prints{
 
  width:150px;
  height:auto;
  
}
.name1{
  font-size: 13px;
  position: absolute;
  top:57%;
  left:48%;
  transform: translate(-50%,-50%);
  width:100%;
  text-align: center;
  color:white;
}
.name2{
  font-size: 11px;
  position: absolute;
  top:60%;
  left:51%;
  transform: translate(-50%,-50%);
  width:100%;
  text-align: center;
  color:white;
}

.name3{
  font-size: 14px;
  position: absolute;
  top:52%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100%;
  text-align: center;
  color:white;
}
.name4{
  font-size: 14px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100%;
  text-align: center;
  color:white;
}
}
/* mobile l */
 @media (min-width:425px) and (max-width:768px){

.main_image{
margin-top: 10%;
}
.intro-box{
  left:-9%;
  width:65%;
}
.introduction{
font-size: 7px;
width:50%;
margin-top: 2px;
}
.welcome{
  font-size: 8px;
  padding: 5px;
  margin-top: -10px;
  margin-left: 22px;

}
.about{
 width:180px;
 top:5px;
}
.about-text{
  width: 200px;
  font-size: 13px;
  line-height: 1.3;
  margin: -80px 0 0 -30px;
  color: white;
  display: block;
  position: relative;
}
.label-img{
   width:160px;
  margin-left: 1px; 

}
.label-text{
  position: absolute;
  top:95px;
  left:40px;
  transform: none;
  font-size: 13px;
  font-weight: 900;
  color: white;
  width: auto;
  z-index: 5;
}
.bird{
 width: 26px;
 top:90px;
 left:110px;
 z-index: 6;
}
.label2{
  width:160px;
  margin-left: 10px;
  margin-top: -80px;
 
}
.label-text2{
  top:106px;
}
.rabbit{
  position: absolute;
  width: 100px;
  top:46px;
  left:110px;
  z-index:6;
}
.prints{
  width:150px;
  height:auto;
  
}
.name1{
  font-size: 15px;
  position: absolute;
  top:57%;
  left:48%;
  transform: translate(-50%,-50%);
  width:100%;
  text-align: center;
  color:white;
}
.name2{
  font-size: 13px;
  position: absolute;
  top:60%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100%;
  text-align: center;
  color:white;
}

.name3{
  font-size: 14px;
  position: absolute;
  top:54%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100%;
  text-align: center;
  color:white;
}
.name4{
  font-size: 15px;
  position: absolute;
  top:55%;
  left:48%;
  transform: translate(-50%,-50%);
  width:100%;
  text-align: center;
  color:white;
}
 }
 /* tablet*/
 @media (min-width:768px) and (max-width:1024px){
  .main_image{
    width:100%;
margin-top: 3%;
margin-left: -17px;
}
.intro-box{
  position: absolute;
  top:10%;
  left:-1%;
  width:60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index:10;

}
.introduction{
font-size: 12px;
font-weight: 900;
width:50%;
margin-top: 2px;
}
.welcome{
  font-size: 15px;
  padding: 5px ;
  margin-top: -10px;
  margin-left: 17px;
}
.label-container{
  position: relative;
  width:100%;
  min-height: 500px;
  margin:80px 0;
  left:0;
  display: block;
}
.label-img{
  position: absolute;
  top:-30%;
  left:40px;
  width:260px;
  margin:0;
 display:block;
}
.label-text{
  position: absolute;
  top:3px;
  left:100px;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}
.bird{
  position: absolute;
  top:-4px;
  left:220px;
  width:45px;
  margin:0;
  height: auto;
}
.about{
  position: absolute;
  top:80px;
  right:40px;
  width:400px;
  margin: 0;
  float:none;
}
.about-text{
  position: absolute;
  top:120px;
  left:10px;
  width:300px;
  font-size:16px;
  line-height:1.6;
  margin:0;
  padding:0;
}
.label2{
  width:260px;
  margin-left: -70%;
  margin-top: -80%;
 
}
.label-text2{
  top:48%;
  margin-left: 94%;
  font-size: 20px;
}
.rabbit{
  position: absolute;
  width: 200px;
  top:55px;
  left:-20%;
  z-index:6;
}
.categories-grid {
  display: grid;
  grid-template-columns: repeat(2, 200px); 
  grid-template-rows: repeat(2, 210px);
  gap: 0;
  justify-items: center;
  margin-top: -10%;
  margin-left: 30%;
}

.item {
  position: relative;
  cursor: pointer;
  width: 180px;
  height: 180px;
}

.prints {
  width: 200%;
  height: 200%;
  object-fit: contain;
  transition: transform 0.4s ease, filter 0.4s ease;
 margin-left: -100%;
 margin-top: -100%;
}
  
.item:hover .prints {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.name1 {
  position: absolute;
  margin-left: -52%;
 margin-top: -40%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  text-shadow: 0 0 10px black;
  pointer-events: none; /* so clicks go through to the image */
}
.name2 {
  position: absolute;
   margin-left: -50%;
 margin-top: -40%;
  transform: translate(-50%, -50%);
  font-size: 19px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  text-shadow: 0 0 10px black;
  pointer-events: none;
}
.name3 {
  position: absolute;
  margin-left: -50%;
 margin-top: -45%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  text-shadow: 0 0 10px black;
  pointer-events: none;
}
.name4 {
  position: absolute;
   margin-left: -54%;
 margin-top: -50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  text-shadow: 0 0 10px black;
  pointer-events: none; 

}
 }
 /* Laptop*/
  @media (min-width:1024px) and (max-width:1439px){
.main_image{
width:100%;
margin-top: 5%;
margin-left: -17px;
}
.intro-box{
  position: absolute;
  top:19%;
  left:-1%;
  width:60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index:10;

}
.introduction{
font-size: 18px;

width:52%;
margin-top: 2px;
}
.welcome{
  font-size: 20px;
  padding: 5px ;
  margin-top: -10px;
  margin-left: 17px;
}
.label-img{
  position: absolute;
  top:-30%;
  left:40px;
  width:260px;
  margin:0;
 display:block;
}
.label-text{
  position: absolute;
  top:25px;
  left:145px;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}
.bird{
  position: absolute;
  top:-4px;
  left:220px;
  width:45px;
  margin:0;
  height: auto;
}
.about{
  position: absolute;
  top:100px;
  right:40px;
  width:400px;
  margin: 0;
  float:none;
}
.about-text{
  position: absolute;
  top:120px;
  left:10px;
  width:400px;
  font-size:20px;
  line-height:1.6;
  margin:0;
  padding:0;
}
.label2{
  width:300px;
  margin-left: -100%;
  margin-top: -80%;
 
}
.label-text2{
  top:48%;
  margin-left: 73%;
  font-size: 23px;
}
.rabbit{
  position: absolute;
  width: 210px;
  top:80px;
  left:-40%;
  z-index:6;
}
.categories-grid {
  display: grid;
  grid-template-columns: repeat(2, 200px); 
  grid-template-rows: repeat(2, 210px);
  gap: 55px;
  justify-items: center;
  margin-top: -10%;
  margin-left: 30%;
}

.item {
  position: relative;
  cursor: pointer;
  width: 180px;
  height: 180px;
}

.prints {
  width: 250%;
  height: 250%;
  object-fit: contain;
  transition: transform 0.4s ease, filter 0.4s ease;
 
}
  
.item:hover .prints {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.name1 {
  position: absolute;
  margin-left: -75%;
 margin-top: -70%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  text-shadow: 0 0 10px black;
  pointer-events: none; /* so clicks go through to the image */
}
.name2 {
  position: absolute;
   margin-left: -70%;
 margin-top: -70%;
  transform: translate(-50%, -50%);
  font-size: 29px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  text-shadow: 0 0 10px black;
  pointer-events: none;
}
.name3 {
  position: absolute;
  margin-left: -70%;
 margin-top: -70%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  text-shadow: 0 0 10px black;
  pointer-events: none;
}
.name4 {
  position: absolute;
   margin-left: -76%;
 margin-top: -80%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: "Sigmar One", sans-serif;
  text-shadow: 0 0 10px black;
  pointer-events: none; }
  }
