.pg_container{
    position: relative;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.pg_content{
    flex-grow: 1;
    width:100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    display:flex;
    flex-direction:column;
    align-items:center;

}
/*the heading section */
.heading_section{
   display: flex;
   justify-content: center;
   width: 100%;
   margin-top:40px;
   position: relative;
}
.headings{
    position: relative;
    width:900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading_banner{
    width: 50%;
    margin-top: 100px;
    height: auto;
    margin-left: -100%;
   
}
.info{
    position: absolute;
    top:50%;
    left:33%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap:20px;
}
.logo_img{
  width:100px;
  height:100px;
  object-fit:contain;
  margin-top: 80px;
   margin-left: -126%;
 
}
.intro{
   
    color:rgb(0, 0, 0);
    font-family: 'Sail', cursive;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
    margin-top: 110px;
    margin-left: -30px;
    width: 300px;
    
    
}

/*upload section*/
.upload_section{
    background-color: #03403D;
   max-height: 500px;
    max-width: 500px;
  border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
   
    border: 2px solid rgb(243, 207, 48);
   padding:15px 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 120px;
    
}
.upload_section .btns{
    display: flex;
    gap: 15px;
}
.upload_section button{
   
    font-size: 40px;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s ease;
    line-height: 1;
}
.upload_section button:hover{
    
    transform: scale(1.1);
}



 