.pg_container{
    position: relative;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.pg_content{
    flex-grow: 1;
    width:100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    display:flex;
    flex-direction:column;
    align-items:center;

}
/*the heading section */
.heading_section{
    position: absolute;
    top:150px;
    left:-500px;
    margin-top: 0;
    margin-left: 0;
   z-index:10; /* ensure it stays above other elements */
    display:flex;
    align-items: center;
    


}


.intro{
    position: absolute;
    color:rgb(0, 0, 0);
    font-family: 'Sail', cursive;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
   margin-top: 20px;
    line-height: 1.4;
    width:50%;
    left:35%;
    
    z-index:2;
    
    
}
.logo_img{
    position:absolute;
    left:30px;
    top:45%;
    transform: translateY(-50%);
    width:110px;
    height: 110px;
    
    object-fit: contain;
    padding: 5px;
    z-index:3;
}
/*upload section*/
.upload_section{
    background-color: #03403D;
   max-height: 500px;
    max-width: 500px;
  border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
   
    border: 2px solid rgb(243, 207, 48);
   padding:15px 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 100%;
    
}
.upload_section .btns{
    display: flex;
    gap: 15px;
}
.upload_section button{
   
    font-size: 40px;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s ease;
    line-height: 1;
}
.upload_section button:hover{
    
    transform: scale(1.1);
}



 