.pg_container{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.pg_content{
    flex-grow: 1;
    width:100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    display:flex;
    flex-direction:column;
}
/*the heading section */
.heading_section{
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.heading_banner{
    width:100%;
    height:auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}
.intro{
    position:absolute;
    color:white;
    font-family: 'Sail', cursive;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    line-height: 1.4;
    width: 70%;
    left:50%;
    transform: translateX(-50%);
    z-index:2;
    padding:0;
    margin:0;
}
.logo_img{
    position:absolute;
    left:-15px;
    top:50%;
    transform: translateY(-50%);
    width:70px;
    height: 70px;
    border-radius: 50%;
    object-fit: contain;
    padding: 5px;
    z-index:3;
}
/*upload section*/
.upload_section{
    width:100%;
    max-width: 500px;
    margin-bottom:40px;
    background-color: #03403D;
    border: 0 2px 8px rgb(236, 189, 50);
    border-radius: 20%;
    padding:15px 30px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.655);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.upload_section .btns{
    display: flex;
    gap: 15px;
}
.upload_Section button{
    background:none;
    border:none;
    font-size: 3em;
    color: white;
    cursor: pointer;
    padding: 5px;
    transform: transform 0.2s ease;
    line-height: 1;
}
.upload_Section button:hover{
    
    transform: scale(1.1);
}

.upload_section .close_btn {
    font-size: 1.8em;
    color:aqua;
    cursor:pointer;
}
.upload_section .close_btn:hover {
    transform: scale(1.1);
}

/*posts section*/
.posts_section{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:25px;
    width: 100%;
    max-width: 850px;
    padding:0 20px;
    margin-top: 30px;

}
.post_card{
    background-color: white;
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction: column;
    min-height: 250px;
}
.media{
    width:100%;
    height:150px;
    object-fit: cover;
    display: block;
}
.post_card video.media{
    background-color: black;
}
.text_content{
    padding:15px;
    font-size: 1em;
    color:#312f2f;
    flex-grow: 1; /*allows text content to fill available space */
}
.icons{
    display: flex;
    justify-content: flex-start;
    padding:10px 15px;
    border-top:1px solid #eee;
    gap:15px;
    background-color:black; 
}
.icons{
    width:24px;
    height: 24px;
    filter:invert(1);
}
.icons:hover{
    transform: scale(1.2);
    cursor: pointer;
}