
.popup_overlay {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: transparent;
    
}

.popup_content_wrapper {
    position: relative;
    padding: 30px; 
    border-radius: 40px; 
    box-shadow: 2px 6px 20px rgb(255, 255, 255);
   width: 50%; 
    height: 65%; 
     background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: center; 
   
}



.popup_close_button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #055757; 
    color: #ffffff;
    border: none;
    border-radius: 50%; 
    width: 35px;
    height: 35px;
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    z-index: 1010;
}

.popup_close_button:hover {
    background-color: #e63200; 
}



.imagecirclecontainers {
    position: absolute; 
    margin-top: 70px;
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    overflow: hidden; 
    border: 5px solid #036e49; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    background-color: rgb(255, 255, 255); 
   
    z-index: 1005; 
}


.imageincircle {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block; 
   
}
.boxfordescription{
    background-color: rgba(0, 0, 0, 0.7); 
    border: 2px solid #D8B335; 
    border-radius: 15px;
   padding: 35px; 
    margin-top: 109px; 
    width: 55%; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
}
/* media quires*/
 /* small mobile*/

@media (min-width: 320px) and (max-width: 480px){
 
.imageincircle {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block; 
   
}
.imagecirclecontainers {
   top:-30px;
    width: 80px; 
    height: 80px;
    
}
.popup_content_wrapper {
    position: relative;
     width: 70%; 
    height: 55%; 
 
   
}
.boxfordescription{
   padding: 35px; 
    margin-top: 30px; 
    width: 70%; 
    height: 55%;  
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 10px;
}

}
/*Tablet*/
  @media (min-width:768px) and (max-width:1024px){
     .popup_overlay {
   
    top: 30px;
    left: 0;
    width: 100%;
    height: 90%;
   
    
}
.imageincircle {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block; 
   
}
.imagecirclecontainers {
   top:-30px;
    width: 80px; 
    height: 80px;
    
}
.popup_content_wrapper {
  top:26px;
   width: 60%; 
   height: 65%; 
    
}

.boxfordescription{
   padding: 35px; 
    margin-top: 30px; 
    width: 80%; 
    height: 70%;  
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 17px;
}

  }
   /*Laptop*/
   @media (min-width:1024px) and (max-width:1439px){
    .popup_content_wrapper {
  top:50px;
   width: 50%; 
   height: 70%; 
    
}

.boxfordescription{
   padding: 35px; 
    margin-top: 30px; 
    width: 80%; 
    height: 70%;  
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
}

   }


