.post_display_section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 50px;
    width: 100%;
    min-height: 100vh;
}
.add_post{
    display: inline-block;
    margin-top: 100px;
   padding: 10px 20px;
    border-top-left-radius: 10px;
  border-bottom-right-radius:10px ;
  background-color: #3f2d03;
   border: 3px solid #d39b38;
   color:white;
   text-decoration: none;
   font-size: 20px;
   margin-left: -500px;
 font-family: 'Sail', cursive;
}
.feed{
    width:100%;
    max-width: 500px;
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.individual_post_card{
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.585);
    display:flex;
    flex-direction: column;
    padding: 15px;
    padding-bottom: 0;
    height: auto;
    width: 100%;
   
  

}
.mediapost{
    width:100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
    flex-shrink: 0;
    background-color:#ffffff;
}
.mediapost video{
    background-color: black;
}
.text{
    padding:10px 0;
    font-size: 1.1em;
    color:#333;
    line-height: 1.5;
    white-space: pre-wrap; /* keeps whitespaces and line breaks */
    word-wrap: break-word;/*breaks long words*/
    margin-bottom: 10px;
    flex-grow:1;
    overflow-y: auto;
}
.user_interaction{
   background-color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 20px;
   margin-left: -15px;
   margin-right: -15px;
   margin-bottom: 0;
   margin-top: auto ;
    height: 70px;
   

    
}
.like{
    width:50px;
    height:50px;
    filter:invert(0.2);
    transition: transform 0.2s ease,filter 0.2s ease;
    border-radius: 50px;
    
    
}
.like:hover{
    transform: scale(1.1);
    filter: invert(0.1);
}
.comment{
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.comment:hover{
    transform: scale(1.2);
}
.delete{
    background: transparent;
    border:none;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-top: 0;
}
.delete:hover{
    transform:scale(1.2)
}
.no_post_mesg1{
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-family: "Sigmar One", sans-serif;
    margin-top: 50px;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}
.no_post_mesg2{
    text-align: center;
    color:rgb(134, 129, 129);
    font-size: 20px;
    font-family: "Sigmar One", sans-serif;
    margin-top: 50px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.no_post_mesg2:hover{
    color: #fb9e09;
    text-shadow: 1px 1px 2px rgb(65, 42, 3);
}

/*Media quiries*/
@media(max-width:768px){
    .feed{
    padding:10px;
    gap:20px;
}
.individual_post_card{
    padding:10px;
}
.mediapost{
    max-height: 300px;
}

}
