.post_display_section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
.feed{
    width:100%;
    max-width: 600px;
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.individual_post_card{
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.585);
    display:flex;
    flex-direction: column;
    padding: 15px;
}
.mediapost{
    width:100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 15px;
}
.mediapost video{
    background-color: black;
}
.text{
    padding:10px 0;
    font-size: 1.1em;
    color:#333;
    line-height: 1.5;
    white-space: pre-wrap; /* keeps whitespaces and line breaks */
    word-wrap: break-word;/*breaks long words*/
    margin-bottom: 10px;
}
.user_interaction{
    display: flex;
    gap:15px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}
.like{
    width:28px;
    height:28px;
    filter:invert(0.2);
    transition: transform 0.2s ease,filter 0.2s ease;
}
.like:hover{
    transform: scale(1.1);
    filter: invert(0.1);
}
.comment{
    width:28px;
    height:28px;
    filter:invert(0.2);
    transition: transform 0.2s ease,filter 0.2s ease;
}
.comment:hover{
    transform: scale(1.1);
    filter: invert(0.1);
}
.no_posts_message{
    text-align: center;
    color:black;
    font-size: 20px;
    font-family: 'Sail', cursive;
    margin-top: 50px;
}

/*Media quiries*/
@media(max-width:768px){
    .feed{
    padding:10px;
    gap:20px;
}
.individual_post_card{
    padding:10px;
}
.mediapost{
    max-height: 300px;
}

}
