.Sightingscard {
    background-color: #074e4a;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: #D8B335 2px 2px 2px 2px;
    text-align: center;
    margin-top: 50%;
    margin-bottom: 5px;
    width: 200px;
    height: 200px;
   display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 50px;
}



.Sightingscard .map {
    width: 100px;
    height: 100px;
    
    border-radius: 5px;
    margin-bottom: 5px;
}

.Sightingscard .Sightingname {
    font-size:20px;
    color: #ffffff;
     margin-top:40px ;
    background:  #fb9e09;
    height: 25px;
  width: 100%;
 border-top-left-radius: 10px;
  border-bottom-right-radius:10px ;
   border: 1px solid #3f2d03;
}

.sightings-page {
     
    padding: 50px;
    
    
    
}
.note{font-family: 'Sail', cursive;
    margin-top: 120px;
font-size: 25px;
color: #ffffff;
text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.845);
}




.sightings-grid {
    
    display: grid;
    grid-template-columns: repeat(3,0.1fr);
    gap: 10px;
    width: 1000px;
    margin-left:10px;
    
    
}


.continent-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-content {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #074e4a;
    min-width: 200px;
    
    z-index: 10;
    border-radius: 8px;
    padding: 8px 0;
    border: 1px solid #fb9e09;
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
    
}

.dropdown-content ul {
    list-style-type: circle;
    padding: 0;
    margin: 0;
}

.dropdown-item {
   
    align-items: center;
    padding: 8px 16px;
    color: #f8f8f8;
    font-size: 1em;
   
}
/* media quires*/
 /* small mobile*/


@media (min-width: 320px) and (max-width: 480px){
.note{font-family: 'Sail', cursive;
      margin-left: -20px;
    margin-top: 80px;
    width:100%;
font-size: 15px;
padding:0 10px;
}

.Sightingscard {
   
    margin-top: 10px;
 margin-left: -50px;
 width:140px;
 height:140px;
 padding: 10px;
 box-sizing: border-box;
}
.Sightingscard .map {
width:70px;
height: 70px;
}

.sightings-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:15px;
    width:95%;
    margin: 20px auto;
    padding:0;
 

}
.Sightingscard .Sightingname {
   font-size:12px;
   height:auto;
   padding: 2px 0;
   margin-top: 10px;
   width:100%;
   line-height:1.2
}
.sightings-page{
    padding:10px;
    overflow-x: hidden;
}
}
/* mobile M */
 @media (min-width:375px) and (max-width:425px){
   

.Sightingscard {
   
    margin-top: 10px;
 margin-left: -20px;
 width:140px;
 height:140px;
 padding: 10px;
 box-sizing: border-box;
}
 }
 /*Tablet*/
  @media (min-width:768px) and (max-width:1024px){
    .sightings-grid {
    
    display: grid;
    grid-template-columns: repeat(2,0.1fr);
    gap:10px;
    width:100%;
    margin: 20px auto;
    padding:0;
 
}
  }
   /*Laptop*/
   @media (min-width:1024px) and (max-width:1439px){
    .Sightingscard {
    margin-top: 50%;
    margin-bottom: 5px;
    width: 200px;
    height: 200px;
   padding: 20px;
    margin-left: 50px;
}
.Sightingscard .map {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.Sightingscard .Sightingname {
    font-size:20px;
    margin-top:40px ;
   height: 25px;
  width: 100%;
 
}
.sightings-page {
      padding: 50px;
}
.note{
font-size: 35px;

}
.sightings-grid {
    
    display: grid;
    grid-template-columns: repeat(3,0.1fr);
    gap: 10px;
    width: 1000px;
    margin-left:10px;
    
    
}
   }



