.design {
  position: relative;
  width: 100%;        
  margin-left: 0;    
  display: flex;
  justify-content: center; 
  
}
.animals {
  gap: 5px;
  width: 800%;
}
footer {
  position: relative;   /* change from fixed */
  margin-top: 5px; /* pull up to overlap design */
  left: 0;
  bottom: 0;
  width: 100%; /*add this to make full width*/ 
  
  background-color: #0B7A75;
  color: white;
  text-align: center;
  height: 200px; /* keep same height */
  box-shadow: #10e4da 0px 12px 20px -10px;
  display: flex;
   justify-content: space-between;
  align-items: center;
 
}


.footer-text {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  margin-top: -2%;
  
}
.footer-icon {
  height: 200px;
  align-items: left;
  margin-left: 1%;
} 
/* media quires*/
 /* small mobile*/

@media (min-width: 320px) and (max-width: 480px){
.animals {
  gap: 5px;
  width: 50%;
}
footer {
  width: 100%; /*add this to make full width*/ 
  background-color: #0B7A75;
  color: white;
  text-align: center;
  height: 70px; /* keep same height */
  box-shadow: #10e4da 0px 12px 20px -10px;
  display: flex;
   justify-content: space-between;
  align-items: center;
}
.footer-text {
  position: absolute;
  left: 48%;
  transform: translateX(-50%);
  font-size: 7px;
  margin-top: -2%;
  
}
.footer-icon {
  height: 70px;
  align-items: left;
  margin-left: 1%;
} 
}
