/* Navbar.css */
.navbar {
  background-color: #0B7A75;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;   
  top: 0;
  left: 0;
  width: 100%;      
  z-index: 9999;
  height: 100px;  
  box-shadow: #10e4da 0px 12px 20px -10px;
  padding: 10px 20px; 
}

/* Logo box with ribbon */
.logo-box {
  display: flex;
  align-items: center;
  position: relative;

}
.logo-box a{
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo {
  height: 150px;
  margin-right: 10px;
  margin-top: -5%;
  
}


.ribbon {
  position: absolute;
  left: -1%;  
  top: -20%;
  height: 200px;
  z-index: -2; 
 
}
.name {
  font-family: 'Sail', cursive;
  font-size: 21px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-left: 3%;
  margin-top:-3%;
 
}

.post{
  position: relative;
  background-color: #613605;
  border:2px solid #FFC706;
  font-family: 'sail',cursive;
  font-size: 20px;
  text-decoration: none;
  border-radius: 500px;
  padding: 20px;
  color: white;
  margin-left: auto;
  display: block;
  margin-right: 80px;
  box-shadow: #fb9e09 1px 1px 5px 0;
  z-index:10;
  cursor: pointer;
  
}


/* Gold opening on top-right */
.gold {
  position: absolute;
  top: -1px;
  right: 30px;
  height: 150px; 
  pointer-events: none;
  z-index: 1;
}
/* Navbar links */
.navbar-links {
  list-style: none;
  display: flex;
   color: aliceblue;

gap: 20px;
}

.navbar-links li { 
  align-items: center;
  justify-content: center;
    font-size: 18px;
  font-family: "Sigmar One", sans-serif;
  font-weight: bold;
  
  margin-left: 60%;
  margin-right: -60%;
 
}
.navbar-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
 
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}
.navbar-links li a:hover {

  color: #fb9e09;
  padding: 5px 10px;
  border-radius: 10%;
}
 /* media quires*/
 /* small mobile*/
 @media (min-width: 320px) and (max-width: 480px) {
  .navbar{
    height: 50px;
    width: 90%;   

  }
  .logo{
    height: 50px;
    margin-top: -6%;
   margin-left: -15px;
  }
  
  .ribbon{
    height: 70px;
    top: -25%;
    left: -25%;
  }
  .name {
  font-family: 'Sail', cursive;
  font-size: 10px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-left: -10%;
  
}
.gold {
  position: absolute;
  top: -1px;
  right: 8px;
  height: 50%; 
  
}
.navbar-links li {
    font-size: 6px;
    margin-left: -15px;
    margin-right: -2%;
    
   
  }
.post{
  font-size: 6px;
 margin-right: -5px;
  padding: 5px;
 
}


 }
  /* mobile M */
 @media (min-width:375px) and (max-width:425px){
.navbar-links li {
    font-size: 8px;
    margin-left: -15px;
    margin-right: -2%;
    
   
  }
.post{
  font-size: 8px;
 margin-right: -5px;
  padding: 5px;
  
}
.gold {
  position: absolute;
  top: -1px;
  right: 2px;
  height: 60%; 
  
}
}
/* mobile L */
 @media (min-width:425px) and (max-width:768px){
 .navbar{
  height: 50px;
  width: 92%;   
}
.gold {
  position: absolute;
  top: -1px;
  right: 2px;
  height: 80%; 
  
}
.post{
  font-size: 8px;
 margin-right: -5px;
  padding: 5px;
  
}
.navbar-links li {
    font-size: 10px;
    margin-left: -15px;
    margin-right: -2%;
    
   
  }


 }
  /* tablet*/
  @media (min-width:768px) and (max-width:1024px){
      .navbar{
    height: 50px;
    width: 96%;   

  }
  .logo{
    height: 90px;
    margin-top: -6%;
   margin-left: -15px;
  }
  
  .ribbon{
    height: 90px;
    top: -2%;
    left: -5%;
  }
  .name {
  font-family: 'Sail', cursive;
  font-size: 12px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-left: -10%;
  
}
.gold {
  position: absolute;
  top: -1px;
  right: 8px;
  height: 90%; 
  
}
.navbar-links li {
    font-size: 15px;
    margin-left: 20px;
    margin-right: -2%;
    
   
  }
.post{
  font-size: 15px;
 margin-right: 10px;
  padding: 10px;
 
}
  }
  /* Laptop*/
  @media (min-width:1024px) and (max-width:1440px){
      .navbar{
    height: 80px;
    width: 98%;   

  }
  .logo{
    height: 120px;
    margin-top: -5%;
   margin-left: -10px;
  }
  .ribbon{
    height: 150px;
    top: -13%;
    left: -3%;
  }
  .name {
    font-size: 20px;
    margin-left: 1px;
  }
  .gold{
    height: 120px;
  }
  .navbar-links li {
    font-size: 16px;
    margin-left: 100px;
    margin-right: -10%;
    
   
  }
.post{
  font-size: 20px;
 margin-right: 50px;
  padding: 15px;
}
}