html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position:relative;
  z-index:0;
  background-color: #0B7A75;
  background-image: url("/forestbg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  }
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0B7A75;
  opacity: 0.25; /* 25% opacity */
  z-index: -1;
}

#root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: transparent;
  z-index:1;
}
.app_container {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: transparent;
  z-index:1;
  position: relative;
  color:black;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  

}
 ::-webkit-scrollbar{
  width:15px;
  
 }
 ::-webkit-scrollbar-track{
  background-color: #022e23;;
  border-radius: 25px;
  
  margin-top: 120px;
 }
 ::-webkit-scrollbar-thumb{
  background-color: transparent;
  background-image: radial-gradient(
    circle, 
    
    #60f4e0 2%,
    #dc2020 65%,
    #cb1db7 71%,
    #f0b953 100%
);
background-repeat: no-repeat;
background-position: center;
background-size: 12px 12px;
min-height: 50px;

 }
  

.main_content {
  flex-grow: 1;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


